/session_cookie.txt
/.idea/$PROJECT_FILE$
/.idea/.gitignore
/.idea/aoc2021.iml
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
